/* font-family: "Inter", sans-serif;
font-family: "Host Grotesk", sans-serif; */



:root{
     /* background color  */
     --primary-bg: #000000;
     --card-bg: #0D0D0D;
     

     --text-wht: #ffffff;
     --text-wht-deep: #cecece;
     
     
  
     /* gradient color  */
     
     
     --gradient-4:  linear-gradient(-50deg, #000000f3 60%, #2e2d2d 150%);
     --gradient-text:  linear-gradient(to bottom, #666666, #222222);

      /* -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */

     
    
     /*others color*/
     --scrollbar-color: #fff;
     --scrollbar-thump:#263040;
     --scrollbar-hover: #6f89b6;
    
     /* transition  */
     --transition-1: 0.25s ease;
     --transition-2: 0.3s ease;
     --transition-3: 0.5s ease;
     
 
      /* fontsize  */
      --font-h1:4rem;
      --font-h2: 3.5rem;
      --font-h3:1.625rem ;
      --font-h4:1.5rem ;
      --font-h5:1.125rem  ;


      --font-24:1.5rem;
      --font-20: ;
      --font-18:1.125rem ;
      --font-16: 1rem;
      --font-14: 0.875rem;
      


      /* font-weight  */
      --font-bold:700;
      --font-semi:600;
      --font-medium:500;
      --font-regular:400;
      --font-light:300;

      /* z-index  */
      --z-minus:-1;
      --z-zero:0;
      --z-low:1;
      --z-high:10;
      --z-100:100;
      --z-tooltop:1000;
      --z-fix:1100;
      --z-overlay:1110;
      --z-modal:1990;
      --z-max:9999;

 
     }
     
     
     /* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
     *,
     *::after,
     *::before{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
 
     }
     li{
         list-style: none;
     }
 
     a,
     img,
     input,
     button,
     i{
         display: block;
         text-transform: capitalize;
     }
     button{
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      width: fit-content;
     }
     .btn{
        max-width: 100%;
        width: fit-content;
       cursor: pointer;
       text-align: center;
       transition: 0.3s ease;
        border-radius: 15px;
        padding: 10px 25px;
        text-transform: capitalize;
        font-size: var(--font-16);
        border: 1px solid transparent;

     }
    

     a{
         text-decoration: none;
     }
     img{
         height: auto;
         max-width: 100%;
         object-fit: cover;
     }
    
     html{
         scroll-behavior: smooth;
        
     }
     body{
         max-width: 100%;
         height: auto;
         margin: 0 auto;
         padding: 0 auto;
         position: relative;
         transition:  all 0.5s ease-in-out;
         overflow-X: hidden; 
         font-size: var(--font-16);
         color: var(--text-wht);
         animation: fadeed 0.5s ease-in-out;
         background: var(--primary-bg);
         font-family: "Inter", sans-serif;
     }
     

      @keyframes fadeed {
      from{transform: translateY(20px); opacity: 0;}
      to{transform: translateY(0px); opacity: 1;}
          
      }
       
      h1{
      font-size: var(--font-h1);
      
     }
     h2{
      font-size: var(--font-h2);
     }
     h3{
      font-size: var(--font-h3);
     }
     h4{
      font-size: var(--font-h4);
     }
     h5{
      font-size: var(--font-h5);
     }
     h1,h2,h3,h4,h5{
      font-weight: var(--font-medium);
      font-family: "Host Grotesk", sans-serif;
     }

     .font-24{
        font-size: var(--font-24);
     }
     .font-20{
      font-size: var(--font-20);
     }
     .font-18{
      font-size: var(--font-18);
     }
     .font-16{
      font-size: var(--font-16);
     }
     .font-14{
        font-size: var(--font-14);
     }
 
     
     
    
     
 /* ============----page scroll bar-----============== */
     ::-webkit-scrollbar { 
         width: 5px; 
         
     }
 
     ::-webkit-scrollbar-track { 
         overflow: hidden;
         background: transparent;

        
     }
 
     ::-webkit-scrollbar-thumb {
    
     border-radius:100px;
     background: var(--scrollbar-thump); 
     transition: 0.3s;
    
   }
   ::-webkit-scrollbar-thumb:hover{
        opacity: 0.6;
  
   }
 
   @keyframes wiggle {
        0%,
        5%{
            transform: rotateZ(0);

        }
        15%{
            transform: rotateZ(-2deg);

        }
        20%{
            transform: rotateZ(2deg);

        }
        25%{
            transform: rotateZ(-2deg);

        }
        30%{
            transform: rotateZ(1deg);

        }
        35%{
            transform: rotateZ(-2deg);

        }
        40%,
        100%{
            transform: rotateZ(0);

        }
        
     }
 /* =====================cursor customizing=============== */
 /* =====================ID section customizing=============== */
   

 /* =====================others=========================== */
    .container{
     max-width: 100%;
     padding: 0.5% 1% ;
     margin: 0 2% ;
     
    }
    section{
     margin: 8% 5% 3%;
     max-width: 100%;
     position: relative;
     transition: var(--transition-1);
    }
    .blur1{
        width: 100%;
        height: 60px;
        
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(10, 10, 10, 0.11);
        backdrop-filter: blur(5px);
        z-index: 100;
        border-radius: 10% 10% 0 0 ;
        
   
    background: linear-gradient(to top, 
        rgba(14, 13, 13, 0.25) 50%, 
        rgba(22, 22, 22, 0.1) 80%, 
        rgba(255, 255, 255, 0) 100%);
    

    }
    .blur2{
        width: 100%;
        height: 90px;
        
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(10, 10, 10, 0.11);
        backdrop-filter: blur(1px);
        z-index: 101;
        border-radius: 5% 5% 0 0 ;
        
   
        background: linear-gradient(to top, 
        rgba(14, 13, 13, 0.062) 50%, 
        rgba(8, 8, 8, 0.082) 80%, 
        rgba(17, 17, 17, 0.103) 100%);
    


    }
    .blur3{
         width: 100%;
        height: 120px;
        
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(10, 10, 10, 0.11);
        backdrop-filter: blur(0.2px);
        z-index: 102;
        border-radius: 50% 50% 0 0 ;
        
   
        background: linear-gradient(to top, 
        rgba(14, 13, 13, 0.062) 50%, 
        rgba(8, 8, 8, 0.082) 80%, 
        rgba(17, 17, 17, 0.103) 100%);

    }
    

    /* <!-- =================================================
    --------------Header start here------------------
    =================================================   --> */


header{
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    height: 100vh;
    width: 100%;
    background: url(https://framerusercontent.com/images/xLrX5WIDvtdiCfZom23YqmDAy8Y.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.heroBg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;

}
.heroBg .heroImg{
    width: 480px;
    height: 480px;
}
.heroBg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: rotate 200s linear infinite;
    

}
.color-cercle{
    position: absolute;
     width: 300px;
    height: 300px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg,
    #ff0000,
    #ff9900,
    #1d43eb,
    #ffff00,
    #ff0000,
    #1d43eb
  );
  filter: blur(40px);
  opacity: 0.7;
   top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    animation: round 6s ease-in-out infinite alternate;
     
}
@keyframes round {
    from{
        transform: rotate(0deg)  ;
        
    }
    to{
        transform: rotate(360deg)  ;
    }
    
}

header .container{
    margin: 5px 12%;
}
header .head{
  
    position: fixed;
    width: 70%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 20px;
    z-index: 100;
}
.head .logo{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 7px;
     transition: var(--transition-1);

}
.logo img{
    width: 30px;
}
.logo p{
    color: var(--text-wht);
    font-weight: 500;
    text-transform: capitalize;
   
}
.logo:hover{
    opacity: 0.8;
}

  .headBtn{
    height: 50px;
    width: 120px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
   
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    border-radius: 7px;
    overflow: hidden;
    background-color: #0D0D0D;
    transition: var(--transition-2);
    
}
.headBtn:hover{
      
      box-shadow: rgba(255, 217, 0, 0.267) 0px -2px 10px;
}
 .headBtn:hover::before{
    animation: none;
    transition: var(--transition-1);
     background-image: conic-gradient(
    #ffb30333 100deg,
    #ffb30333 100deg
  );
  
}
.headBtn:hover::after{
    box-shadow: rgba(246, 247, 248, 0.082) 0px 28px 24px;
    background: #000;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}


.headBtn::before {
  content: "";
  background-image: conic-gradient(
    #BA8811 20deg,
    transparent 50deg
  );
   box-shadow: #BA8811 10px -28px 24px;
  height: 250%;
  width: 186%;
  position: absolute;
  top: -80%;
  left: -43%;
  animation: rotate 6s linear infinite;
  transition: var(--transition-1);
  
  
}


.headBtn::after {
  content: "Contact";
  height: 95%;
  width: 98%;
  position: absolute;
  background-color: #0D0D0D;
  border-radius: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  font-size: 16px;
  color: white;
  transition: var(--transition-1);
  
}

/* ============nav==============  */
nav{
    width: 42%;
    position: fixed;
    padding: 10px ;
    max-width: 100%;
    top: 4%;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-bg);
    border: 1px solid var(--card-bg);
    
}
nav li{
    position: relative;
    max-width: 100%;
}
nav li a{
    max-width: 100%;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 7px;
    color: var(--text-wht);
    font-size: var(--font-16);
    transition: var(--transition-1);
}
nav li a:hover{
    border: 1px solid rgba(255, 217, 0, 0.062) ;
    border-bottom: 1px solid rgba(255, 217, 0, 0.185) ;
    background: var(--card-bg);
   
  
}


